<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <div>
    <h3>Une nouvelle demande a été envoyée par un CGP :</h3>

    <div>
      <p>
        <b>Type:</b> {{ type }}
      </p>
      <p>
        <b>Titre:</b> {{ title }}
      </p>
      <p>
        <b>Description:</b> {{ description }}
      </p>
      <p>
        <b>Email:</b> {{ email }}
      </p>
    </div>

  </div>
</body>
